<!doctype html>



<html lang="en-us">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bem-vindo ao Container!</title>
    </head>

    <body>

        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo ao container!</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">C115</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Conceitos e Tecnologias para Dispositivos Conectados</h6>
                          <p class="card-text">Esse é um exemplo de container docker rodando uma aplicação com flask!</p>
                          <hr>
                          <p class="card-text">Além de Docker e Flask, estou usando Bootstrap!</p>
                        </div>
                    </div>
                </div>
                <div class= "col-md-6">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Outros end-points</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Explore</h6>
                          <hr>
                          <div class="row">
                            <div class= "col-md-4">
                                <a  class="btn btn-outline-info btn-block" href="/nome">Nome</a>
                            </div>
                            <div class= "col-md-4">
                                <a  class="btn btn-outline-info btn-block" href="/matricula">Matrícula</a>
                            </div>
                            <div class= "col-md-4">
                                <a  class="btn btn-outline-info btn-block" href="/musica">Música</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>