<!doctype html>



<html lang="en-us">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Música</title>
    </head>

    <body>

        <div class="jumbotron">
            <h1 class="display-4">Illumination Theory - Dream Theater</h1>
            <p class="lead">É rock progressivo, mas é bem legal =)</p>
            <a  class="btn btn-outline-info" href="/">Voltar</a>
            <hr>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/H7yZZWjGaBI"> </iframe>

        </div>
    </body>
</html>